<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-vue</title>    <!-- 开发环境的vue2版本，包含了有帮助的命令行警告, vue3是合成型API,另有不同 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios负责处理json数据 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body><h1> Django vue</h1>
<div id="app">
    <table>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>单价</th>
        </tr>        <!-- 这里使用了双方括号 ,代替双花括号,因为django模板会使用双花括号,造成与vue的冲突.-->
        <tr v-for="book in books">
            <td>[[book.id]]</td>
            <td>[[book.title]]</td>
            <td>[[book.price]]</td>
        </tr>
    </table>
</div>
<script>
    var app = new Vue({
       el:"#app",
        delimiters: ["[[","]]"], // 这里声明一个叫分隔符的成员,使得双方括号 ,代替双花括号
        data: {
           books: []
        },
        //加载完毕,挂载绑定的时候,执行fetchData这个函数
        mounted: function(){
           this.fecthData();
        },
        methods: {
           fecthData(){
               axios.get("/book/").then(response=>{
                   this.books = response.data;
               }), err=>{
                   console.log(err);
               };
           }
        }
    });
</script>
</body>
</html>