<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script type="application/javascript" src="../js/vue.js"></script>

  <style>
      body {
          margin: 0;
          padding: 0;
      }

      #app2 {
          position: fixed;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          width: 68vw;
          padding-top: 30vh;
          padding-bottom: 30vh;
          padding-left: 32vw;
      }

      a {
          color: #fff;
          text-decoration: none;
      }

  </style>

</head>
<body>
<div id="app">
  <button @click="show_login_box=!show_login_box">登陆</button>
  <div id="app2" v-if="show_login_box" @click="show_login_box=false">
    <div @click.stop="">
      用户名：<input type="text" ref="username" v-model="username"> <br><br>
      密码：&nbsp;<input type="password" ref="password" v-model="password"> <br><br>
    </div>

    <a href="http://www.baidu.com" @click.prevent.stop="check_params">登陆</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a @click="show_login_box=false">取消登陆</a>
  </div>
</div>

<script>
    const vm = Vue.createApp({
        data() {
            return {
                username: "",
                password: "",
                show_login_box: false
            }
        },
        methods: {
            check_params() {
                if (this.username !== "xiaoming") {
                    console.log("验证数据失败！！！！")
                    return;  // 阻止代码继续执行
                } else {
                    console.log("通过验证")
                }
            }
        }
    }).mount("#app")
</script>

</body>
</html>